@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171b22;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -100;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../public/assets/bg.jpg");
  }
}
